@font-face {
    font-family: Brandon;
    src: url(./fonts/brandon-grotesque-black-58a8a3e824392.otf);
}

#hero {
    font-family: Brandon;
    color: white;
    text-align: center;
    font-size: 45px;
    background-color: black;
}

#mapid {
    min-height: 500px;
    min-width: 400px;
    height: 80vh
}

#optionsDiv, #resultBox{
    min-width: 200px;
    min-height: 400px;
    max-height: 80vh;
    overflow: scroll;
}


#mapid{
    z-index: 2;
}

.draggable{
    z-index: 5;
}
