@font-face {
    font-family: Brandon;
    src: url(./fonts/brandon-grotesque-black-58a8a3e824392.otf);
}

body {
    min-width: 980px;
}

#hero {
    font-family: Brandon;
    color: white;
    text-align: center;
    font-size: 45px;
    background-color: black;
}

#mapid {
    min-height: 500px;
    min-width: 400px
}

#optionsDiv{
    min-width: 300px;
    min-height: 400px;
    max-height: 500px;
    overflow: scroll;
}

#mapid{
    z-index: 2;
}

.draggable{
    z-index: 3;
}